{%include 'user_header.html'%}
<div style="margin-bottom: 1em; background:url('/static/assets/img/values-1.png') ; height: 300px; width: 100%; background-size: cover;" >
	</div>
<center>
	<h1>Treatment added</h1>
	<table  class="table" style="width:500px">
		<tr>
			<th>Slno</th>
			<th>TREATMENT</th>
			<th>DOCTOR</th>
			<th>DATE</th>
						
		
		</tr>
		{%for row in data['tr']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['treatment']}}</td>
			<td>{{row['fname']}}</td>
			<td>{{row['date']}}</td>
			{%if row['b_st']=="booked"%}
			<td><a class="btn btn-outline-success" href="user_make_payment?id={{row['booking_id']}}&amt={{row['fees']}}">Make payment</a></td>
			{%elif row['b_st']=="paid"%}
			<td><a href="viewinvoice?id={{row['booking_id']}}" class="btn btn-info">Bill</a></td>
			{%else%}
			<td>{{row['b_st']}}</td>
			
			{%endif%} 
			
		</tr>
		{%endfor%}
	</table>
</center>
<br><br><br>
{%include 'footer.html'%}
